<div class="container">
  <div class="row">
    <div class="col-md-4 footer-links">
      <ul class="list-inline">
        <li class="list-inline-item" ><a href="https://press.ibisinteractive.cl"><span data-i18n="footer.presskit"></span></a></li>
        <li class="list-inline-item" ><a href="politicas-privacidad"><span data-i18n="footer.privacy"></span></a></li>
      </ul>
      <!-- <span class="copyright">Copyright &copy; 2015. Original Design by
        <a href="http://www.webthemez.com">Webthemez</a>
      </span> -->
    </div>
    <!-- <div class="col-md-8"></div> -->
    <div class="col-md-4 offset-md-4">
      <span data-i18n="footer.contact"></span>
      <ul id="socials" class="list-inline social-buttons">
      </ul>
    </div>
  </div>
</div>