<img id="ggj25-logo" src="../../../assets/img/logos/png/ggj25-logo.png" alt="Logo GGJ 2025 Valdivia">
<header class="clearfix tb">
    <div class="tb-cell text-center">
        <h1>Transmiciones En Vivo</h1>
        <iframe id="twitch" src="https://player.twitch.tv/?channel=gamejamvaldivia&parent=ibisinteractive.cl" width="720"
            height="405" allowfullscreen>
        </iframe>
        <p><span>Sigue las transmisiones en vivo de la Global Game Jam 2025 Valdivia en <a href="https://www.twitch.tv/gamejamvaldivia">Twitch <i class="fa-brands fa-twitch"></i></a></span></p>
    </div>
</header>