<div class="container">
    <div class="row white">
        <h2 class="centered">Acerca de Nosotros</h2>
        <hr>
        <div class="col-md-6" id="imgContainer"> <img class="img-responsive" src="assets/img/about/ibis.png"
                alt="about image">
        </div>
        <div class="col-md-6">
            <h3>¿Quiénes somos?</h3>
            <p>Ibis Interactive es un grupo de amantes de los videojuegos y artes visuales ubicado en Valdivia, Chile.
                Con
                orígenes en las Global Game Jams desde 2020, el grupo creció y se formalizó en 2023.
                <br>
                Ibis busca crear experiencias únicas, con historias cautivantes y arte único.
            </p>
            <iframe id="iframe-youtube" width="560" height="315"
                src="https://www.youtube-nocookie.com/embed/aYWqpqKQbjc?si=5afDFsHkPvfCvt_G"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>