<div class="container">
    <div class="row white">
        <h2 class="centered">Nuestros Servicios</h2>
        <hr>
        <div class="col-md-6" id="imgContainer"> <img class="img-responsive" src="/assets/img/external/meeting-594091_1280.jpg"
                alt="Image by StartupStockPhotos from Pixabay">
        </div>  
        <div class="col-md-6">
            <h3>Work-for-Hire</h3>
            <p>¿Tienes una idea que quieres convertir en un videojuego?, ¿Necesitas apoyo en el diseño de tu videojuego?
            </p>
        </div>
    </div>
</div>